table {
  border-collapse: collapse;
  margin: 2.5% auto;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  align-items: center;
}

.item {
  background-color: yellow;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  display: flex;
}

.alignItems div {
  margin: auto;
}

.food {
  background-color: green;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  display: flex;
}

.foodGone {
  display: none;
}

.textHidden {
  display: none !important;
}

.gameOverMsg {
  font-size: 36px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
  letter-spacing: 2px;
  h3 {
    font-size: xx-large;
  }
  p {
    margin: 1%;
    font-size: large;
  }
}

.score {
  font-size: large;
  color: #ccc;
  display: flex;
  flex-direction: row;
  margin: 1% 1% 0 1%;
  justify-content: space-evenly;
  font-size: x-large;
}

.blur {
  filter: blur(4px);
}

.resetButon {
  margin-top: 1%;
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.resetButon:hover {
  background-color: #6dcfec;
  box-shadow: 0px 15px 20px rgba(33, 129, 167, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

//---------------------------------

.body {
  position: absolute;
  padding: 30px;
  width: 500px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

.body label {
  font-size: 24px;
  color: darkgray;
  cursor: pointer;
}

.body input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.clearBtn,
.addBtn {
  margin-top: 1%;
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 1%;
}

.clearBtn:hover,
.addBtn:hover {
  background-color: #6dcfec;
  box-shadow: 0px 15px 20px rgba(33, 129, 167, 0.4);
  color: #fff;
  transform: translateY(-7px);
  margin: 1%;
}

.rank {
  margin: 2.5%;

  h2 {
    color: darkgray;
  }

  li {
    list-style-type: none;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-item {
  margin-left: 2.5%;
}

.user-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
