<body>
  <div
    *ngIf="
      (snake[0].x === randomRowBoomb && snake[0].y === randomColBoomb) ||
      gameOver === true
    "
    class="gameOverMsg"
  >
    <h3>GAME OVER</h3>
    <p>Would you like to save your score ?</p>
    <button class="resetButon" (click)="reload()">Play again</button>
  </div>

  <div ngClass="score">
    <p>score : {{ count }}</p>
    <p>level : {{ level }}</p>
  </div>

  <div class="container">
    <div
      [ngClass]="{
        blur: gameOver === true
      }"
    >
      <table>
        <tr *ngFor="let row of gridRows; let i = index">
          <td *ngFor="let col of gridCols; let j = index">
            <div ngClass="alignItems">
              <div
                [ngClass]="{
                  boomb: i === randomRowBoomb && j === randomColBoomb,
                  food: i === randomRowFood && j === randomColFood,
                  foodGone:
                    snakeRow === randomRowFood && snakeCol === randomColFood,
                  item: myArray[i][j] === 2
                }"
              ></div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div
      class="body"
      *ngIf="
        (snake[0].x === randomRowBoomb && snake[0].y === randomColBoomb) ||
        gameOver === true
      "
    >
      <form (submit)="saveName()">
        <label for="name"> Add Username</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="name"
          placeholder="Type in your username..."
        />
        <button class="addBtn" type="submit">Add player</button>
        <button class="clearBtn" (click)="clearSessionStorage()">
          Clear Rank
        </button>
      </form>

      <div class="rank">
        <hr />
        <h2>Rank:</h2>
        <ul class="user-list">
          <div>
            <li *ngFor="let player of storedPlayers">
              <span>
                {{ player.name }}
              </span>
              <span>{{ player.count }}</span>
            </li>
          </div>
          <!-- <div class="user-item">
            <li *ngFor="let count of storeCount">
              {{ count }}
            </li>
          </div> -->
        </ul>
      </div>
    </div>
  </div>
</body>
